# База данных
DB_USER=postgres
# Введите надежный пароль ниже:
DB_PASSWORD=
DB_NAME=unitools
# URL бэкенда для фронтенда (Используется только при локальной разработке! В продакшене запросы идут через Nginx прокси)
API_URL=http://localhost:8000/api
